.banner{
    background-image: url('../img/fondo.jpg');
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
}

.banner2{
    background-image: url('../img/macdonals.jpg');
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
}